body {
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 300;
}

table {
    border-collapse: collapse;
    th, td {
        padding: 6px 15px;
    }
    thead {
        th {
            background: #CCC;
            text-transform: uppercase;
        }
    }
}

.argument {
    color: #396;
}

header {
    font-size: 2.4em;
    font-weight: 700;
    margin-bottom: 40px;
}
